.background-image {
    width: 100%;
    background-color: #f87171; /* Warna merah muda */
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  